<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  body{
    font-family: "Poppins",sans-serif;
  }  
  :root{
    --border: rgb(209, 209, 209);
    --primary:#2d3cc7;
    --black:#262932;
    --shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
  @font-face {
    font-family: "Jode";
    src: url(../../static/fonts/Jode.ttf);
  }
  .nav{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 40px;
    height: 80px;
    top: 0;
    position: fixed;
    background-color: var(--primary) !important;
    justify-content: space-between;
    z-index: 99;
    padding: 0 30px;
    background-color: transparent;
  }
  a,li{
    list-style: none;
    text-decoration: none;
  }
  .menu-navbar{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }
  .menu-navbar li .navbar-link{
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: relative;
    transition: all ease-in-out 0.3s;
  }

  .nav .logo{
    z-index: 999;
  }
  .nav .logo a{
  font-family: "Mont",sans-serif;
    font-size: 28px;
    color: #ffffff !important;
  }
  @font-face {
  font-family: "Mont";
  src: url(../../static/fonts/Mont-HeavyDEMO.otf);
}
    .nav .logo{
    font-family: "Jode",sans-serif;
  }
  .nav .menu-navbar{
    gap: 30px;
    margin-top: 10px;
  }
  .sign-btn{
    background-color: #fff ;
    padding: 10px 40px;
    border-radius: 50px;
    color: black !important;
  }
  .right-side-menu{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  .user-profile-box img{
    border-radius: 50px;
  }
  .logout-btn{
    background-color: white !important;
    color: var(--primary) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 2px;
    }
  .logout-btn:hover i{
    right: -25px;
  }
.logout-btn i{
  color: var(--primary) !important;
  transition: all ease-in-out 0.3s;
  font-size: 18px;
  position: absolute;
  right: -20px;
}
.menu-icon{
  display: none;
}
@media screen and (max-width:991px){
  .menu-navbar{
    position: absolute;
    width: 100%;
    left: 0;
    top: -10px;
    background-color: white;
    align-items: center !important;
    opacity: 0;
    pointer-events: none;
    justify-content: center !important;
    transition: all ease-in-out 0.2s;
        transform: translateY(15px);
    height: 100vh;
    flex-direction: column;
    gap: unset !important;
    padding: 0 20px;
  }
  .nav .menu-show{
        opacity: 1 !important;
        transform: translateY(0) !important;
        pointer-events: unset !important;
    }
  .navbar-link{
    font-size: 18px !important;
    color: black !important;
  }
  .sign-btn{
    background-color: var(--primary);
    color: white !important;
  }
  .menu-icon{
      display: block !important;
    z-index: 9999;
    right: 30px;
    border-radius: 50px;
    background-color: white;
    box-shadow: var(--shadow);
    width: 50px;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    }
    .menu-icon::after {
    content: unset !important;
}
}
</style>
<div class="nav">
    <div class="logo">
      <a class="" href="{% url 'members:home' %}">
        <span>Givein.Ai</span>
      </a>
    </div>
      <ul class="menu-navbar">
        <li class="">
          <a
            href="{% url 'members:wedding' %}"
            class="navbar-link"
            >Home</a
          >
        </li>
        <li class="">
          <a
            href="{% url 'members:about_us' %}"
            class=" {% if '/about-us/' in request.path %}active-link{% endif %} navbar-link"
            >Our Journey</a
          >
        </li>
        {% if user.is_authenticated %}
        <li class="">
          <a
            href="{% url 'members:user_profile' %}"
            class=" {% if '/user-profile/' in request.path %}active-link{% endif %} navbar-link"
            >My Account</a
          >
        </li>
        {% endif %}
      

      {% if not user.is_authenticated %}
      <li class="">
        <a
          href="{% url 'members:login' %}"
          class="login-btn navbar-link"
          >Login</a
        >
      </li>

      <li class="">
        <a
          href="{% url 'members:register' %}"
          class="sign-btn"
          >Sign up</a
        >
      </li>
      {% endif %}

    </ul>
      {% if user.is_authenticated %}
      <!-- <b class="text-dark">Hi, {{request.user}}</b> -->

      <ul class="right-side-menu">
        <!-- Avatar -->
        <li class="">
          <a class="user-profile-box" href="{% url 'members:user_profile' %}"
            role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <img src="https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg" class="border navbar-img"
              height="45" alt="Avatar" />
          </a>

        </li>
        <a
          class="logout-btn"
          href="javascript:{document.getElementById('logout').submit()}"
          >Logout<i class='bx bx-right-arrow-alt arrow-icon'></i></a
        >
        <form action="{% url 'members:logout' %}" method="POST" id="logout">
          {% csrf_token %}
          <input type="hidden" />
        </form>
        <div class="menu-icon" id="menu-icon">
          <i class="bx bx-menu-alt-right"></i>
      </div>
      </ul>

      {% endif %}
</div>
<script>

// Get the menu icon element
const menuIcon = document.getElementById('menu-icon');
// Get the navigation element
const navMenu = document.querySelector('.menu-navbar');

// Add click event listener
menuIcon.addEventListener('click', function() {
    // Get the icon element
    const icon = menuIcon.querySelector('i');
    // Toggle between classes to change the icon
    if (icon.classList.contains('bx-menu-alt-right')) {
        icon.classList.remove('bx-menu-alt-right');
        icon.classList.add('bx-x');
    } else {
        icon.classList.remove('bx-x');
        icon.classList.add('bx-menu-alt-right');
    }
    navMenu.classList.toggle('menu-show');
});

</script>
