{% extends 'base.html' %}

{% block title %}Home {% endblock %}

{% block content %}
<style>
  body{
        background-color: whitesmoke;
        font-family: 'Poppins', sans-serif;
    }
  .table-container{
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 20px 0;
    border: 1px solid rgba(0,0,0,.125);
  }
  .details-box{
    background-color: #1a1b41;
  }
  .honeydraw{
    color: #f1ffe7;
  }
  .bluelake{
    color: #6290c3;
  }
  .btn-1{
    width: 100%;
    transition: all ease-in-out 0.3s;
    color: #fff;
    background-color: #1a1b41;
    border: 1px solid white;

}


.btn-1:hover{
    color: #1a1b41;
    background-color: transparent;
    border: 1px solid #1a1b41;
}
input{
  width: 100%;
  padding: 7px 0;
}


.page-item.active .page-link {
        color: #fff !important;
        background-color: #1a1b41 !important;
        border-color: #1a1b41 !important; 
    }

    .page-link {
        color: #1a1b41 !important;
        background-color: #fff !important;
        border: 1px solid #dee2e6 !important; 
    }

    .page-link:hover {
        color: #fff !important;
        background-color: #1a1b41 !important;
        border-color: #1a1b41 !important; 
    }
</style>

<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
   <script src='https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js'></script>
   <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js" charset="utf-8"></script>



   


   


     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"> -->
     <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">


<div class="container home-main">
  <div class="row">

    <!-- Total -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary details-box">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold honeydraw text-uppercase mb-1">
                            Total Contacts</div>
                        <div class="h5 mb-0 font-weight-bold honeydraw">{{total_count}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-person-fill fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Completed -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success details-box">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold honeydraw text-uppercase mb-1">
                            Amount received</div>
                        <div class="h5 mb-0 font-weight-bold honeydraw">{{ total_amount.amount__sum }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Not Started -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info details-box">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold honeydraw text-uppercase mb-1">
                            AMOUNT PAID</div>
                            <div class="h5 mb-0 font-weight-bold honeydraw">{{ total_paid.amount__sum }}</div>
                            <!-- <button hx-get="{% url 'members:add_form' %}" hx-target="#dialog" class="btn btn-primary">
                              Add
                            </button> -->
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning details-box">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold honeydraw text-uppercase mb-1">
                            AMOUNT PENDING</div>
                        <div class="h5 mb-0 font-weight-bold honeydraw">{{ total_pending.amount__sum }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-clock fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


  
<div class="row table-container" style="background-color: #ffffff;">
  <div class="row border-primary">
    <form method="POST" action="/">
      {% csrf_token %}
    <div class="row">
      <div class="col">
        <!-- {{form.name}} -->
        <input name="name" type="text" class="form-control" placeholder="Name" required>
      </div>
      <div class="col">
        <!-- {{form.address}} -->
        <input name="address" type="text" class="form-control" placeholder="Address" required>
      </div>
      <div class="col">
        <!-- {{form.amount}} -->
        <input name="amount" type="text" class="form-control" placeholder="Amount" required>
      </div>
      <div class="col">
        <button type="submit" class="btn-1 py-2" value="Create contact">Create</button>
        <!-- <input class="btn login_btn create-contact" type="submit" value="Create contact"> -->
      </div>
    </div>
  </form>
</div>
<hr class="mt-3">

  <table id="example" class="table  table-bordered " cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Amount</th>
          <th scope="col">Date Created</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody >
        {% for task in tasks %}
        <tr>
          <td>{{task.name}}</td>
          <td>{{task.address}}</td>
          <td>{{task.amount}}</td>
          <td>{{task.created}}</td>
          <td>
            <div class="contact-user-button">
              <a
                class="btn btn-sm"
                hx-get="{% url 'members:update_form' task.id %}" hx-target="#dialog"
                ><i class="bi bi-pencil-square"></i
              ></a>
          

              <button
                class="btn btn-sm"
                id="btn_delete"
                type="button"
                data-bs-url="{% url 'members:delete_task' task.id %}"
                class="btn p-0"
                data-bs-toggle="modal"
                data-bs-target="#modal-delete"
                data-bs-foodid="{{ task.id }}"
                data-bs-foodname="{{ task }}"
              >
                <i class="bi bi-trash3"></i>
              </button>
            </div>
          </td>
          
        </tr>
        {% endfor %}
      </tbody>

  </table>
</div>



  <script>
      $(document).ready(function() {
  $('#example').dataTable();
} );

  </script>


</div>

<!-- Delete Modal -->
<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete contact</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn delete-sec-btn"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <form>
            {% csrf_token %}
            <button id="food-delete" class="btn delete-sec-btn" type="submit">
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
</div>


<!-- Placeholder for the modal -->
<div id="modal" class="modal fade">
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<!-- Empty toast to show the message -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div id="toast-body" class="toast-body"></div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>


<!-- Edit form new modal -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>

<script>
  ; (function () {
    const modal = new bootstrap.Modal(document.getElementById("modal"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog") {
        modal.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
        modal.hide()
        e.detail.shouldSwap = false

        location.reload();
      }
    })

    // Remove dialog content after hiding
    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog").innerHTML = ""
    })
  })()
</script>
  
<script>
  $(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>


<!-- Delete contact Popup -->
<script>
  const deleteModal = document.getElementById("modal-delete");

  deleteModal.addEventListener("show.bs.modal", (event) => {
    const button = event.relatedTarget;
    const foodName = button.getAttribute("data-bs-foodname");
    const url = button.getAttribute("data-bs-url");
    const modalBodyInput = deleteModal.querySelector(".modal-body ");

    modalBodyInput.textContent = `Confirm deletion of ${foodName}`;

    const deleteForm = deleteModal.querySelector("form");
    deleteForm.setAttribute("action", url);
    deleteForm.setAttribute("method", "post");
  });
</script>

<script>
  $(document).ready(function() {
     $('#myTable').DataTable();
   });
</script>

{% endblock %}