{% load widget_tweaks %}


<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Update Contact</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
    

        <div class="modal-body">
            <div class="mb-3">
              <label for="{{ form.title.id_for_label }}" class="form-label">Name</label>
              <!-- {{update_form.name}} -->
              {% render_field update_form.name class="form-control form-control-sm" type="text" %}
            </div>
      
            <div class="mb-3">
              <label for="{{ form.author.id_for_label }}" class="form-label">Address</label>
              <!-- {{update_form.address}} -->
              {% render_field update_form.address class="form-control form-control-sm" type="text" %}

            </div>
      
            <div class="mb-3">
              <label for="{{ form.description.id_for_label }}" class="form-label">Amount</label>
              {% render_field update_form.amount class="form-control form-control-sm" type="text" %}
            </div>

            <div class="form-check form-check-inline">
              {% render_field update_form.complete class="form-check-input" type="checkbox" id="inlineCheckbox1" %}
              <label class="form-check-label" for="inlineCheckbox1">Completed</label>
            </div>
            
          </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>

