{% extends 'base.html' %}
{% block title %}About Us {% endblock %}
{% block content %}

<style>
    .social li a {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social li a:hover, .social li a:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: whitesmoke;
        font-family: 'Poppins', sans-serif;
    }
@font-face {
    font-family: "ButterScotch";
    src: url(../static//fonts/Butterscotch.ttf);
}
    .title{
        margin: 50px 0;
        font-family: "ButterScotch",sans-serif;
    }
    .img-thumbnail {
    border-radius: 50%;
    margin: 20px 0;
}
p {
    color: #666;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}
.card {
    border: none;
    border-radius: 10px
}

</style>


<div class="about-developers">
    <h1 class=" text-center title">Update contact </h1>


<div class="container bg-white p-5">
    <div class="row text-center">

      <form method="POST" action="" class="update-form">
        {% csrf_token %}
        <div class="input-group mb-3">{{update_form.name}}</div>
        <div class="input-group mb-2">{{update_form.address}}</div>
        <div class="input-group mb-2">{{update_form.amount}}</div>
        <p class="checkbox-container"> <div class="textbox">Complete{{update_form.complete}}</div></p>
      
        <div class="d-flex justify-content-center mt-3 login_container">
          <input class="btn login_btn" type="submit" value="Update" />
        </div>
      </form>
      
      <script>
        /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
      //We start indexing at one because CSRF_token is considered and input field 
      */
      
        //Query All input fields
        var form_fields = document.getElementsByTagName("input");
      
        for (var field in form_fields) {
          form_fields[field].className += " form-control";
        }
      </script>



    </div>
</div>
</div>



{% endblock %}
















<!-- 
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
  :root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
  }

  .form-control {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
  }
  body {
    background-color: #fff !important;
    display: flex;
    position: relative;
    font-family: Poppins, sans-serif;
    align-items: center;
    justify-content: center;
  }
  .update-form {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px 20px;
    width: 40rem;
    display: flex;
    height: 50vh;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
  }
  .update-form::after {
    width: 100%;
    border-radius: 70px;
    height: 31rem;
    background-color: #212038;
    content: "";
    position: absolute;
    top: -60%;
    pointer-events: none;
  }
  h3 {
    font-weight: 700;
    z-index: 1;
    color: #fff;
    font-size: 1.8rem;
  }
  .input-group {
    margin: 10px 0;
    width: 100%;
  }
  body input {
    height: 55px;
    outline: none !important;
    border: unset !important;
    width: 100%;
    border-bottom: 1px solid rgb(217, 217, 217) !important;
  }
  .textbox {
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    background-color: #212038;
    padding: 0 20px;
    align-items: center;
    color: white;
    border-radius: 0 50px 0 0;
    gap: 10px;
    justify-content: center;

  }
  .login_btn {
    width: 100%;
    background-color: #212038;
    cursor: pointer;
    display: block;
    color: #fff;
    border: unset;
    position: absolute;
left: 0; 
bottom: 65px;   
    border: none;

  }
  @media screen and (max-width:767px){
    .update-form{
      width: 100%;
    }
  }
</style>

 -->
